<h1><%= @article.title %></h1>

<ol>

	<% @article.contents.each do |content| %>
	<li><%= content.headline %></li>
	<% end %>

	<li>
		<%= form_for [@article, @article.contents.build] do |f| %>
		<%= f.text_field :headline %>
		<!--<%= f.text_field :body %>-->
		<%= f.submit "追加" %>
		<% end %>
	</li>

</ol>

<p><a href="/">戻る</a></p>